:host {
  display: block;
}

.card{
  width: 500px;
  margin: 8px auto 8px auto;
  position:relative;
} 

.action {
  position: absolute;
  top: 0px;
  bottom: 0;
  background: #090e41;
  padding: 0 8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset -5px 3px 4px #333;
}
mat-card.card{
  background: #505ee0;
}
.card-icon mat-icon{
  font-size:32px;
}

@media (max-width: 768px) {s
  .card {
    width:400px;
    grid-template-columns: 1fr;
 }
}