<mat-card class="card">
  <mat-card-content>
      <div class="floatL">
        <mat-card-header>
          <div mat-card-avatar>
             <img [src]="weatherIconURL" [alt]="weather.weather[0].description">          
          </div>
          <mat-card-title>{{ weather.name }} {{ weather.main.temp | number:'1.0-0' }}°C</mat-card-title>
          <mat-card-subtitle>Wind: {{ weather.wind.speed }} m/s</mat-card-subtitle>
          <mat-card-subtitle>Sunrise: {{ (weather.sys.sunrise * 1000 ) | date : 'mediumTime'}} </mat-card-subtitle>
          <mat-card-subtitle>Sunset: {{ (weather.sys.sunset * 1000 ) | date : 'mediumTime' }} </mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="floatR action">
        <a class="card-icon">
          <mat-icon aria-hidden="true" >keyboard_arrow_right</mat-icon>
        </a>
      </div>
      <div class="clear"></div>
  </mat-card-content>
</mat-card>



