 
  <div class="city-items">
    <ng-container *appErrorGuard="citiesWeather$ | async; data as citiesWeather">
      <app-city-weather *ngFor="let cityWeather of citiesWeather; trackBy: trackById"
                            [weather]="cityWeather"
                            [routerLink]="['/', cityWeather.name, 'forecast']"
                            class="qa-city-weather">
      </app-city-weather>
    </ng-container>
  </div>
  
  