
:host {
    display: flex;
    flex-direction: column;
  }
  .header {
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
  }
  .city-items {

    margin: 8px auto 10px auto;
    position: relative;
  }
  @media (max-width: 1024px) {
    .city-items {
      grid-template-columns: 1fr 1fr;
   }
  }
  @media (max-width: 768px) {s
    .city-items {
      grid-template-columns: 1fr;
   }
  }
  app-city-weather {
    box-sizing: border-box;
    cursor: pointer;
    width: 90%;
  }