:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px auto 25px;
}

::ng-deep router-outlet + * {
    margin-top: 64px;
    flex: 1;
}
@media (max-width: 599px) {
    ::ng-deep router-outlet + * {
        margin-top: 56px;
   }
}
.app-name {
    margin-left: 10px;
    cursor: pointer;
}
.app-name .mat-icon{
    padding: 10px 0 0 0;
    line-height: 0.6em;
    float: left;
    margin: 0 5px 0 0;
}
.mat-toolbar .mat-button {
    margin-left: auto;
}
.mat-toolbar .mat-button .mat-icon {
    height: 26px;
    width: 26px;
}
.mat-toolbar, .mat-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.mat-progress-bar {
    top: 64px;
}
@media (max-width: 599px) {
    .mat-progress-bar {
        top: 56px;
   }
}
