
<div style="text-align:center">  

  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span routerLink="/" class="app-name">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Home</span> 

      <h2 class="header center">European Cities Weather</h2>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading$ | async" color="accent" mode="indeterminate"></mat-progress-bar>

</div>


<router-outlet></router-outlet>
