:host {
  display: flex;
  flex-direction: column;
}
span {
  font-weight: 600;
}
.forecasting {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 0 20%;
}
.forecasting app-timestamp-weather {
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .forecasting {
    margin:0;
    padding: 0;
 }
}
