
  <h2 style="margin: 15px auto;">Five Days forecast for <span>{{ cityName }}</span></h2>

<div class="forecasting" role="list">
  <ng-container *appErrorGuard="forecast; data as data">
    <ng-container *ngFor="let weather of forecast">
        <app-forecast [weather]="weather" role="listitem" ></app-forecast>
        <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</div>
