:host {
  display: grid;
  grid-template-areas: 'datetime temperature real-feel icon';
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #CCC;
  background: #DCDCDC;
}

@media (max-width: 768px) {
  :host {
    grid-template-areas: 'datetime temperature real-feel icon';
 }
  :host .date-time-wrapper {
    width: auto;
 }
}


.date-time-wrapper {
  grid-area: datetime;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-time-wrapper .time {
  margin-top: 5px;
  font-size: 21px;
}
.date-time-wrapper .date {
  font-size: 28px;
}
.weatherIcon {
  grid-area: icon;
}
.weatherIcon span {
  position: relative;
  right: 80px;
  text-transform: capitalize;
  font-weight: 400;
}
.temperature {
  grid-area: temperature;
  font-size: 32px;
}
.sea-level {
  display: flex;
  align-items: flex-end;
}
